<!-- 
  Example launch file for octomap_server mapping:  
-->
<launch>


        <include file="$(find realsense_node_python)/launch/rover_odometry.launch"/>
        <include file="$(find realsense_node_python)/launch/rover_point_cloud.launch"/>

	<node pkg="realsense_node_python" type="rover_point_cloud_odometry.py"  name="rover_cameras_sync" output="screen"/>

	<node pkg="realsense_node_python" type="frame_pc.py"  name="tf_camera" output="screen"/>


        <!--node type="rviz" name="rviz" pkg="rviz" args="-d $(find realsense_node_python)/rviz/config.rviz"/-->
</launch>
